Week 3-Day 2 - n8n Assignment/Student_Enrollment_Assignment.json
{
  "name": "Student_Enrollment_Assignment",
  "nodes": [
    {
      "parameters": {
        "binaryPropertyName": "Upload_Raw_Datafile",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        0
      ],
      "id": "033babb1-a028-412e-8cef-3d48c7228d6f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Clean the raw student record and return only one raw JSON object.\n\nRaw data:\n{{ JSON.stringify($json) }}\n\nRules:\n- Student_ID: keep as provided.\n- Name: convert to Title Case. Example: \"manoj k\" → \"Manoj K\".\n- Email: if email is invalid or incomplete, set value as \"INVALID_EMAIL\".\n- Phone: keep only digits. If fewer than 10 digits, set value as \"MISSING\".\n- Course: allow only \"Python\", \"Machine Learning\", or \"Data Science\". Convert matching values to this exact format. If not matching, set value as \"UNKNOWN\".\n- Fee_Paid: if value is \"yes\", \"Yes\", or \"YES\", return true. If value is \"no\", \"No\", or \"NO\", return false.\n- City: convert to Title Case. If empty or missing, set value as \"UNKNOWN\".\n- Enrolled_Date: convert to YYYY-MM-DD format.\n\nReturn ONLY raw JSON.\nDo not include explanation.\nDo not include markdown.\nDo not include code block.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        0
      ],
      "id": "4fe00830-5a44-44f5-acc0-6dfab1d124cc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "formTitle": "Upload Raw Datafile",
        "formDescription": "Upload the Raw Datafile that contains all the student registration records.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Raw Datafile",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -480,
        0
      ],
      "id": "ad31c859-29e7-442a-8f03-759bc3aebad3",
      "name": "On form submission",
      "webhookId": "80e16f66-f899-427a-95b0-9ea26ae9a3b6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        224
      ],
      "id": "9284fe07-f2d0-48f0-9a57-0a395f0eb279",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XNE4HWnqe4q7BVlD",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {
          "fileName": "chennai_valid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1472,
        -336
      ],
      "id": "1824323b-6dfd-444d-b8e8-bd39cba43e51",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5fc18158-886e-4d6c-b476-cbbf68290127",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9901af11-f92a-4d41-ba8d-258dc73a15a4",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "INVALID_EMAIL",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -320
      ],
      "id": "8c308380-9c9b-46b4-a634-d7016337b766",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "45d6e0b9-d56f-4eda-a014-a30f7c6d5589",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// n8n Code Node\n// Purpose:\n// - Take AI output from each item\n// - Parse JSON string into real JSON object\n// - Return clean structured records\n// ============================================================\n\nreturn items.map((item) => {\n  let rawOutput;\n\n  // ------------------------------------------------------------\n  // 1. Get AI output\n  // Change these field names if your AI output field is different\n  // ------------------------------------------------------------\n  rawOutput =\n    item.json.output ||\n    item.json.text ||\n    item.json.response ||\n    item.json.result ||\n    item.json.data ||\n    item.json;\n\n  // ------------------------------------------------------------\n  // 2. If the full item itself is already a string\n  // ------------------------------------------------------------\n  if (typeof rawOutput === \"object\" && rawOutput !== null) {\n    // If output is already a clean object, return it directly\n    if (\n      rawOutput.Student_ID ||\n      rawOutput.Name ||\n      rawOutput.Email ||\n      rawOutput.Phone\n    ) {\n      return {\n        json: rawOutput,\n      };\n    }\n\n    // Otherwise convert object to string for further checking\n    rawOutput = JSON.stringify(rawOutput);\n  }\n\n  // ------------------------------------------------------------\n  // 3. Clean AI output text\n  // ------------------------------------------------------------\n  let cleanedText = String(rawOutput)\n    .trim()\n    .replace(/^```json/i, \"\")\n    .replace(/^```/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n\n  // ------------------------------------------------------------\n  // 4. Parse JSON string\n  // ------------------------------------------------------------\n  let parsedRecord;\n\n  try {\n    parsedRecord = JSON.parse(cleanedText);\n  } catch (error) {\n    return {\n      json: {\n        parse_error: true,\n        error_message: error.message,\n        raw_output: cleanedText,\n      },\n    };\n  }\n\n  // ------------------------------------------------------------\n  // 5. If parsed output is still a string, parse again\n  // This handles outputs like:\n  // \"{\\\"Student_ID\\\":\\\"STU1001\\\",\\\"Name\\\":\\\"Manoj K\\\"}\"\n  // ------------------------------------------------------------\n  if (typeof parsedRecord === \"string\") {\n    try {\n      parsedRecord = JSON.parse(parsedRecord);\n    } catch (error) {\n      return {\n        json: {\n          parse_error: true,\n          error_message: error.message,\n          raw_output: parsedRecord,\n        },\n      };\n    }\n  }\n\n  // ------------------------------------------------------------\n  // 6. Return clean JSON object\n  // ------------------------------------------------------------\n  return {\n    json: {\n      Student_ID: parsedRecord.Student_ID || \"\",\n      Name: parsedRecord.Name || \"\",\n      Email: parsedRecord.Email || \"\",\n      Phone: parsedRecord.Phone || \"\",\n      Course: parsedRecord.Course || \"\",\n      Fee_Paid: parsedRecord.Fee_Paid,\n      City: parsedRecord.City || \"\",\n      Enrolled_Date: parsedRecord.Enrolled_Date || \"\",\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        288
      ],
      "id": "82783267-2cab-46ca-b3ad-a2d21afab0c0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "City = Chennai and \nEmail =Valid",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        -416
      ],
      "typeVersion": 1,
      "id": "ec009cd5-3819-4e0c-97ad-68bd1c6a4fc8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "City  <> Chennai and \nEmail <> Invalid",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        128
      ],
      "typeVersion": 1,
      "id": "d535b6ae-b24b-4e44-b7c3-33b5ab8c3d05",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f29b3e2-204a-4dc2-b34d-70d81dfecc58",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "037874c4-ffc5-412c-ab96-52a8711babd7",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "INVALID_EMAIL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -64
      ],
      "id": "8405663a-472c-4adb-a29d-1980235ba484",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {
          "fileName": "chennai_invalid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1472,
        -80
      ],
      "id": "48e7e9a5-5bd3-480c-812a-4693910b0db2",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa16bb5c-f080-4c0c-837b-e654b2ee402b",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "e462a2b6-b2d5-4fe5-8712-a07270689615",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "INVALID_EMAIL",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        224
      ],
      "id": "44177e4e-0235-47a1-8c6c-69056518b2e9",
      "name": "If4"
    },
    {
      "parameters": {
        "content": "City = Chennai and \nEmail =iNVALID",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        -160
      ],
      "typeVersion": 1,
      "id": "c086c499-4319-440b-bbbc-51c6c8207966",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {
          "fileName": "other_valid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1472,
        208
      ],
      "id": "dc4e0d92-67ca-4967-95fc-66b48ade1275",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "896a3c71-cf62-4741-9719-e53524ac62ec",
              "leftValue": "={{ $json.City }}",
              "rightValue": "Chennai",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "db0623fb-95b9-4648-89aa-4ff41502eae1",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "INVALID_EMAIL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        496
      ],
      "id": "1a15d6a9-0d60-4ee5-a6f7-1a4fd99bbb4f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {
          "fileName": "other_invalid_email"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1488,
        480
      ],
      "id": "c254aada-8321-457a-a6c2-2b38aa9c113a",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "content": "City  <> Chennai and Email =InValid",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        400
      ],
      "typeVersion": 1,
      "id": "4e332612-15fc-46ef-af13-955f66701338",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1824,
        32
      ],
      "id": "5a73a824-da15-4826-b24c-bb4505877a00",
      "name": "End1"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d70abf9-d2d1-4533-8410-de854458db78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3637ba4d7c3f2f3b2721baaf3c04c508e8b653925bdbccb59f2ad16b2b0315b7"
  },
  "nodeGroups": [],
  "id": "1q4ouefYio4wGOa2",
  "tags": []
}